<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Confirmer la Suppression</title>
</head>
<body>
    <h1>Confirmer la Suppression</h1>
    <p>Êtes-vous sûr de vouloir supprimer le service : <strong>{{ service.nom_service }}</strong> (Code : {{ service.code_service }}) ?</p>

    <form method="post">
        {% csrf_token %}
        <button type="submit">Oui, supprimer</button>
        <a href="{% url 'gestion_service' %}">Annuler</a>
    </form>
</body>
</html>